Artist Index

<br><br>

<div class="artists">
	<% @artists.each do |artist| %>
		<div class="row">
			<div class="col s14">
				<div class="card">
					<div class="card-image">
						<%= image_tag ("#{artist.name}.jpg")%>

					</div>
					<div class="card-content">
						<p></p>
					</div>
					<div class="card-action center">
						<%= link_to artist.name, artist_show_path%>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>