<br>

<div class="artists">
	<div class="row">
		<% @artists.each do |artist| %>
			<div class="col s12 m4 l3">
				<div class="card">
					<div class="card-image">
						<%= link_to (image_tag ("#{artist.name}.jpg")), artist_path(artist.id)%>

					</div>
					
					<div class="card-action center">
						<%= link_to artist.name, artist_path(artist.id)%>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>